.vlfc-list, .vlfc-detail{
	width:50%;
	float:left;
}

.vlfc-container{
	width: 100%;
}

.vlfc-container:after{
	content:"";
	display: block;
	clear:both;
}

.vlfc-detail{
	min-height: 200px;
	background-color: lightyellow;
}

.course-list-items a{
	display: block;
	width: 100%;
	text-decoration: none;
	box-shadow: none!important;
	margin:2px;
	color:gray;
}

.course-list-items .current{
	font-weight: bold;
}


.course-list-items a:hover{
	color:black;
}

.course-list-items a span{
	font-size: .8em;
}

.course-list-items .section{
	margin-bottom: 15px;
}

.course-list-items .section > div{
	text-transform: uppercase;
	font-weight: bold;
}
